<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon"/>
         <!-- LIBRERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Lando</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/style.css">
        <!-- JS -->
        <script src="../public/bundle.js"></script>
    </head>

    <body>
        <!-- Header -->
        <div class="container-header">
            <header class="header">
                <span>Lando</span>
                <nav class="nav">
                    <ul class="ul">
                        <li class="li"><a href="./index.html" class="link-animation blue">Home</a></li>
                        <li class="li"><a href="./pricing.html" class="link-animation">Pricing</a></li>
                        <li class="li"><a href="./about.html" class="link-animation">About us</a></li>
                        <li class="li"><a href="./contact.html" class="link-animation">Contact</a></li>
                    </ul>
                </nav>
                <div class="login">
                    <a href="#">Log in</a>
                    <button type="button">Sign up</button>
                </div>
            </header>
            <!-- Welcome -->
            <div class="welcome">
                <div class="content">
                    <div class="presentation">
                        <sub>- Free 30 days trial</sub>
                        <h1>The best way to showcase your project.</h1>
                        <p>
                            Here you can put a short description about your project.
                        </p>
                        <div class="buttons">
                            <button>Try for free</button>
                            <a href="#">See how it works</a>
                        </div>
                    </div>
                    <figure>
                        <img src="../img/welcome.png" alt="welcome">
                    </figure>
                </div>
                <div class="description-logos">
                    <div class="title-logos">
                        <p>
                            Trusted by individuals and teams at the world's best companies
                        </p>
                    </div>
                    <div class="logos">
                        <span>Logo</span>
                        <span>Logo</span>
                        <span>Logo</span>
                        <span>Logo</span>
                        <span>Logo</span>
                        <span>Logo</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Introducing -->
        <div class="container-introducing">
            <div class="introducing">
                <div class="description-intro">
                    <h1>Introducing good solution</h1>
                    <p>
                        Join our community and experience the benefits today!
                    </p>
                    <button>Try for free</button>
                </div>
                <div class="img">
                    <img src="../img/Introduction.png" alt="introducing">
                </div>
            </div>
        </div>
        <!-- Works -->
        <div class="container-works">
            <img src="../img/work.png" alt="work">
            <div class="description-works">
                <sub>Smartsave</sub>
                <h1>All your work is safe with us</h1>
                <p>
                    We take your data security seriously, which is why we useadvanced encryption protocols to protect yourfiles in the cloud. Your data is safe and secure with us.
                </p>
                <button type="button">Try now</button>
            </div>
        </div>
        <!-- Smart -->
        <div class="container-smart">
            <div class="description-smart">
                <sub>Costsaver</sub>
                <h1>Cost saving in a smart way</h1>
                <p>
                    Powerful tool that helps you reduce costs and save money on your business operations. With advanced analytics and optimization algorithms, Costsaver analyzes your existing workflows and identifies areas for improvement.
                </p>
                <button type="button">Try now</button>
            </div>
            <img src="../img/smart.png" alt="smart">
        </div>
        <!-- Community -->
        <div class="container-community">
            <div class="community">
                <div class="join">
                    <div class="img-community">
                        <img src="../img/community.png" alt="community">
                    </div>
                    <div class="description-community">
                        <h1>How to join our community</h1>
                        <p>
                            Just 3 simple steps to optimize your company operations.
                        </p>
                        <button type="button">Sign up now</button>
                    </div>
                </div>
                <!-- Steps -->
                <div class="steps">
                    <div class="step">
                        <h1>Step 1</h1>
                        <p>
                            Reach out one of our specialists, and have short introduction session.
                        </p>
                        <div class="line"></div>
                    </div>
                    
                    <div class="step">
                        <h1>Step 2</h1>
                        <p>
                            Our specialist will prepare personalized package suitable for your needs.
                        </p>
                        <div class="line"></div>
                    </div>
                    <div class="step">
                        <h1>Step 3</h1>
                        <p>
                            Poof! You are ready to work smart with optimized operations.
                        </p>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial -->
        <div class="container-testimonial">
            <div class="title-testimonial">
                <h1>Testimonials</h1>
                <p>
                    People love what we do and we want to let your know
                </p>
            </div>
            <div class="content-testimonials">
                <div class="content-all">
                    <div class="description-testimonial">
                        <p>
                            "Since implementing Lando our business has seen significant growth."
                        </p>
                        <div class="star">
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                        </div>
                        <h4>Jack Sibire</h4>
                        <span>Lead Manager, Growio</span>
                    </div>
                </div>
                <div class="content-all">
                    <div class="description-testimonial">
                        <p>
                            "I recommend Lando to any business looking for improvement."
                        </p>
                        <div class="star">
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                        </div>
                        <h4>Adele Mouse</h4>
                        <span>Product Manager, Mousio</span>
                    </div>
                </div>
                <div class="content-all">
                    <div class="description-testimonial">
                        <p>
                            "I can't imagine running our company without it."
                        </p>
                        <div class="star-edit">
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                            <svg viewBox="0 0 576 512" style="width: 17px; height: 17px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(49, 100, 244);"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                        </div>
                        <h4>Ben Clock</h4>
                        <span>CTO, Clockwork</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Today -->
        <div class="container-today">
            <div class="today">
                <div class="description-today">
                    <h1>Introducing good solution</h1>
                    <p>
                        Join our community and experience the benefits today!
                    </p>
                    <button>Sing up now</button>
                </div>
                <div class="img-today">
                    <img src="../img/today.png" alt="introducing">
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="copy">
                <h1>Lando</h1>
                <p>2021 © Lando</p>
                <p>All rights reserved.</p>
            </div>
            <div class="description-networks">
                <ol>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Princing</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ol>
                <ol>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ol>
                <ol class="list">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Service</a></li>
                </ol>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>